:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --fore10: color-mix(in oklab, var(--foreground) 10%, var(--background));
  --fore20: color-mix(in oklab, var(--foreground) 20%, var(--background));
  --fore30: color-mix(in oklab, var(--foreground) 30%, var(--background));
  --fore40: color-mix(in oklab, var(--foreground) 40%, var(--background));
  --fore50: color-mix(in oklab, var(--foreground) 50%, var(--background));
  --fore60: color-mix(in oklab, var(--foreground) 60%, var(--background));
  --fore70: color-mix(in oklab, var(--foreground) 70%, var(--background));
  --fore80: color-mix(in oklab, var(--foreground) 80%, var(--background));
  --fore90: color-mix(in oklab, var(--foreground) 90%, var(--background));
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

button,
input,
textarea {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: var(--font-geist-sans);
  outline: inherit;
}

textarea {
  resize: vertical;
}

.main {
  position: absolute;

  height: 80vh;
  width: 80vw;
  min-height: 30rem;
  min-width: 40rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 18px;

  background-color: var(--fore20);

  --hover: var(--fore40);
}